<!DOCTYPE html>
<html lang="en">

<head>
  <title>Reinholdos_kök</title>
  <meta charset="utf-8"/>




  <link rel="stylesheet" type="text/css" href="css/style.css">

  <script type="text/javascript" src="js/menu.js" defer></script>

  <script src="https://vuejs.org/js/vue.js" defer></script>

  <script src="js/js_script.js" defer></script>
  <script src="js/vue_script.js" defer></script>

</head>

<body>

  <main id='main'>

    <div id="Top">

      <img id="TopImg" src="https://254foodie.files.wordpress.com/2015/04/burger-sandwich-header.jpg" alt="Header" title="Burger restaurant header">
      <h1>Welcome to Reinholdos Kök och Tobak </h1>

    </div>

    <div id="Burger_menu_div"> <!-- Välja burgare, menu -->

      <h2>Select burger</h2>

      <p>This is where you execute burger selection</p>
      <div class = 'BurgerGrid'>

        <div class ='Burger_menu Burger'  v-for='burger in burgers'>

          <h3>  {{burger.name}} </h3>

          <img :src="burger.imgURL">

          <li>{{burger.price}}</li>
          <li>{{burger.kCal}}</li>
          <li v-if=burger.lactose>  <span class="alergi">Lactose</span></li>
          <li v-if=burger.gluten>  <span class="alergi">Gluten</span></li>

          <hr>
          <input type="checkbox" name="cb" :value=burger.name class="burgerCheckbox">
          <label for="burger">Add {{burger.name}}</label>

        </div>
      </div>


      <div id="Beer_menu">
        <table align="center">
          <thead>
            <tr>
              <th>Beer name</th>
              <th>Type</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Samuel Adams Boston Lager</td>
              <td>Lager</td>
              <td>69.00</td>
            </tr>
            <tr>
              <td>Marble Brewery Earl Grey IPA</td>
              <td>India Pale Ale</td>
              <td>79.00</td>
            </tr>
            <tr>
              <td>Innis &amp; Gunn Oak Aged</td>
              <td>Ale</td>
              <td>55.00</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div id="Customer_information_div"> <!-- Skriv in information o beställ -->

      <div id="info">

        <h2>Customer information</h2>

        <form>
          <p>
            <label for="name">Name</label><br>
            <input type="text" id="fullname" name="fn" required="required" placeholder="First and last name">
          </p>
          <p>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="em" required="required" placeholder="Email">
          </p>
          <p>
            <label for="PaymentMethod">Choose how to pay:</label><br>
            <select id="PaymentMethod" name="bm">
              <option selected="selected" value="Card">Card</option>
              <option value="Cash in an envelope">Cash in an envelope</option>
              <option value="Swish">Swish</option>
              <option value="Paypal">PayPal</option>
            </select>
          </p>
          <p>
            Gender<br>
            <input type="radio" id="spelaringenroll" name="gender" value="Man" checked="checked">
            <label for="Male">Man</label><br>

            <input type="radio" id="oviktigt" name="gender" value="Kvinna">
            <label for="Female">Woman</label><br>

            <input type="radio" id="vembryrsig" name="gender" value="Icke-binär">
            <label for="Other">Other</label><br>

          </p>
        </div>

      </div>

    </form>

<button v-on:click="addOrder" id="OrderButton" type="submit"> Send Order
</button>
<br>
<div v-if="hasordered">
  <p>Orderbekräftelse</p>

  <p>Kunduppgifter:</p>

  <ul style="list-style-type:none;">
    <li> Name: {{persinfo[0]}} </li>
    <li> Email: {{persinfo[1]}} </li>
    <li> PaymentMethod: {{persinfo[2]}} </li>
    <li> Gender: {{persinfo[3]}} </li>
  </ul>

  <p class="bekraftelse">Order:</p>

  <ul v-for="item in array">
    <li> {{item}} </li>
  </ul>

</div>
------------------------------------
    </div>


  </main>

  <hr><!-- Streck -->

  <footer>

    <p> &COPY Jakob Reinholdsson, 2020, STS3 IT</p>

  </footer>
</body>
</html>
