<!DOCTYPE html>
<html lang="en">

<head>
  <title>Reinholdos_Kök_Tobak</title>
  <meta charset="utf-8"/>

  <!-- C:\Users\Admin\github\1md031_18_students sen cmd node app.js -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/socket.io/socket.io.js" defer></script>
  <script type="text/javascript" src="js/menu.js"></script>
  <script src="js/js_script.js"></script>
  <script src="https://vuejs.org/js/vue.js"></script>
  <script src="js/vue_script.js" defer></script>

  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>

  <main id='main'>

    <div id="Top">

      <img id="TopImg" src="https://254foodie.files.wordpress.com/2015/04/burger-sandwich-header.jpg" alt="Header" title="Burger restaurant header">
      <h1>Welcome to Reinholdos Kök och Tobak </h1>

    </div>

    <div id="Burger_menu_div"> <!-- Välja burgare -->

      <h2>Select burger</h2>

      <p>This is where you execute burger selection</p>
      <div class = 'BurgerGrid'>

        <div class ='Burger_menu Burger'  v-for='burger in burgers'>

          <h3>  {{burger.name}} </h3>

          <img :src="burger.imgURL">

          <li>{{burger.price}}</li>
          <li>{{burger.kCal}}</li>
          <li v-if=burger.lactose>  <span class="allergi">Lactose</span></li>
          <li v-if=burger.gluten>  <span class="allergi">Gluten</span></li>

          <hr>
          <input type="checkbox" name="cb" :value=burger.name class="burgerCheckbox">
          <label for="burger">Add {{burger.name}}</label>

        </div>
      </div>


      <div id="Beer_menu">
          <h2>OBS! Tobacco can not be ordered, only bought on site</h2>
        <table align="center">
          <thead>
            <tr>
              <th>Tobacco</th>
              <th>Type</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ettan</td>
              <td>Lös</td>
              <td>65.00</td>
            </tr>
            <tr>
              <td>Kronan white</td>
              <td>Portion</td>
              <td>35.00</td>
            </tr>
            <tr>
              <td>Göteborg Rapé Lingon</td>
              <td>Portion</td>
              <td>47.00</td>
            </tr>
            <tr>
              <td>Siberia</td>
              <td>Portion</td>
              <td>50.00</td>
            </tr>
          </tbody>

        </table>
      </div>

    </div>

    <div id="Customer_information"> <!-- Skriv in information o beställ -->

      <div id="info">

        <h2>Customer information</h2>

        <form>
          <p>
            <label for="name">Name</label><br>
            <input type="text" id="fullname" name="fn" required="required" placeholder="First and last name">
          </p>
          <p>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="em" required="required" placeholder="Email">
          </p>
          <p>
            <label for="PaymentMethod">Choose how to pay:</label><br>
            <select id="PaymentMethod" name="bm">
              <option selected="selected" value="Card">Card</option>
              <option value="Cash in an envelope">Cash in an envelope</option>
              <option value="Swish">Swish</option>
              <option value="Paypal">PayPal</option>
            </select>
          </p>
          <p>
            Gender<br>
            <input type="radio" id="spelaringenroll" name="gender" value="Man" checked="checked">
            <label for="Male">Man</label><br>

            <input type="radio" id="oviktigt" name="gender" value="Kvinna">
            <label for="Female">Woman</label><br>

            <input type="radio" id="vembryrsig" name="gender" value="Other">
            <label for="Other">Other</label><br>

          </p>
        </div>
      </form>
    </div>

    <div id='map'>
      <h1> Choose delivery point </h1>
      <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
      <div class="view-box">
        <div id="dots" v-on:click="displayOrder">
          <div v-for="(order, key) in orders" v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
            {{key}}
          </div>
        </div>
      </div>
    </div>


  <button v-on:click="addOrder" id="OrderButton" type="submit"> Send Order
  </button>
  <br>
  <div v-if="hasordered">
    <h1>Order Confirmation</h1>

    <h2>Customer Information:</h2>

    <ul style="list-style-type:none;">
      <li> Name: {{persinfo[0]}} </li>
      <li> Email: {{persinfo[1]}} </li>
      <li> PaymentMethod: {{persinfo[2]}} </li>
      <li> Gender: {{persinfo[3]}} </li>
      <li> Deliver to: {{location}}</li>
    </ul>

    <h2>Order:</h2>

    <ul v-for="item in array">
      <li> {{item}} </li>
    </ul>

  </div>
</div>


</main>

<hr>

<footer>

  <p> &COPY Reinholdos_Kök_Tobak Inc.</p>

</footer>
</body>
</html>
