body {
  font-family: arial;
  font-size: 1.1em;
}

#Top{
  overflow:hidden;
  height: auto;
}

#Top h1{
  font-size: 3em;
  margin-top: -120pt;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 500pt; /* Need a specific value to work */
}

#TopImg {
  width:100%;
  height:auto;
  opacity: 0.5;
}

#Burger_menu_div{
  background-color: black;
  color: white;
  padding: 10pt;
  border-style: dashed;
}

.Burger_menu{
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  text-align: center;
}
.BurgerGrid{
  background-color: black;
  color: white;
  padding: 10pt;
  border-style: dashed;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  background-color: black;
  color: white;
  padding: 10pt;
  margin-bottom: 10pt;
}

.Burger img{
  width: 100%;
}


#Burger_menu_div dl{
  padding: 20pt;

}
#Beer_menu table{
  padding: 10pt;
  border-style: dashed;
}
#Beer_menu {
  text-align: center;
}



#Customer_information{
  padding: 50pt;
  border-color: black;
  border-style: dashed;
}

button{
  padding: 10pt;
  margin: 20pt;
}

button:hover {
  background-color: green;
  cursor:pointer;
}

.allergi{
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
}

.view-box {
  width: 90%;
  height: 50vh;
  margin: 1em auto;
  overflow: scroll;
  border: 1px solid rgba(0,0,0,0.4);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
#dots {
  position: relative;
  margin: 0;
  padding: 0;
  background: url(/img/polacks.jpg);
  background-repeat: no-repeat;
  width:1920px;
  height: 1078px;
  cursor: crosshair;
}

#dots div {
  position: absolute;
  background: black;
  color: white;
  border-radius: 10px;
  width:20px;
  height:20px;
  text-align: center;
}

#orderList {
  top:1em;
  left:1em;
  position: absolute;
  z-index: 2;
  color:black;
  background: rgba(255,255,255, 0.5);
  padding: 1em;
}


@media screen and (max-device-width: 800px) {
  body {
    font-size: 150%;
  }
  .BurgerGrid{
    grid-gap: 40px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

}
